<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EF_OrigCatalog_Nissan_Test.Properties.Settings.OriginalCatalogConnectionString"
            connectionString="Data Source=MAXPC-6B9ENSF;Initial Catalog=OriginalCatalog;Integrated Security=True;Connect Timeout=30;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>